# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Turborepo
.turbo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Output / Build
dist
build
coverage

# Editor & OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
